In [3]:


record = {1001: {"Name" : "5-Star",          "Price" : 10,    "Qn" : 200},
          1002: {"Name" : "Bar-One",         "Price" : 20,    "Qn" : 100},
          1003: {"Name" : "Candy",           "Price" : 2,     "Qn" : 1000},
          1004: {"Name" : "Chocolate Cake",  "Price" : 550 ,  "Qn" : 8},
          1005: {"Name" : "Blueberry Cake",  "Price" : 650,   "Qn" : 5}}

print(record)

{1001: {'Name': '5-Star', 'Price': 10, 'Qn': 200}, 1002: {'Name': 'Bar-One', 'Price': 20, 'Qn': 100}, 1003: {'Name': 'Candy', 'Price': 2, 'Qn': 1000}, 1004: {'Name': 'Chocolate Cake', 'Price': 550, 'Qn': 8}, 1005: {'Name': 'Blueberry Cake', 'Price': 650, 'Qn': 5}}

In [39]:
import json
import time

fd = open("Records.json", "r")
js = fd.read()
fd.close()
record = json.loads(js)
print("----------------------MENU----------------------")

for key in record.keys():
  print(key,":", record[key]["Name"], ":", record[key]["Price"], ":", record[key]["Qn"])

print("------------------------------------------------")
ui_name = str(input("Enter Name      : "))
ui_email = str(input("Enter email id : "))
ui_ph = str(input("Enter Phone no.   : "))
ui_pr = str(input("Enter Product ID  : "))
ui_qn = int(input("Enter Quantity    : "))
if(record[ui_pr]['Qn'] >= ui_qn):

  record[ui_pr]["Qn"] = record[ui_pr]["Qn"] - ui_qn

  print("----------------------Bill----------------------")
  print("Product Name : ", record[ui_pr]["Name"])
  print("Price        : ", record[ui_pr]["Price"], 'Rs')
  print("Quantity     : ", ui_qn)
  print("------------------------------------------------")
  print("Total Amount : ", record[ui_pr]["Price"] * ui_qn,'Rs')
  print("------------------------------------------------")

  sale = '1' + ',' + ui_name + ',' + ui_email + ',' + ui_ph + ',' + ui_pr + ','  +  record[ui_pr]["Name"] + ','+ str(record[ui_pr]["Qn"]) + ',' + str(record[ui_pr]['Price']) + ',' + str(record[ui_pr]["Price"] * ui_qn) + ',' + time.ctime()
  fd = open("Sales.csv", "a")
  fd.write(sale)
  fd.close()
else:
  if(record[ui_pr]['Qn'] > 0):

    print("Sorry, We're not having enough Quantity in our Inventory.")
    print(f"We're having {record[ui_pr]['Qn']} quantity left with us.")
    print("------------------------------------------------")
    ch = str(input("Press y to purchase : "))
    if(ch == 'y'):

      print("----------------------Bill----------------------")
      print("Product Name : ", record[ui_pr]["Name"])
      print("Price        : ", record[ui_pr]["Price"], 'Rs')
      print("Quantity     : ", record[ui_pr]['Qn'])
      print("------------------------------------------------")
      print("Total Amount : ", record[ui_pr]["Price"] * record[ui_pr]['Qn'],'Rs')
      print("------------------------------------------------")

      record[ui_pr]["Qn"] = 0
      sale = '1' + ',' + ui_name + ',' + ui_email + ',' + ui_ph + ',' + ui_pr + ','  +  record[ui_pr]["Name"] + ','+ str(record[ui_pr]["Qn"]) + ',' + str(record[ui_pr]['Price']) + ',' + str(record[ui_pr]["Price"] * record[ui_pr]['Qn']) + ',' + time.ctime()
      fd = open("Sales.csv", "a")
      fd.write(sale)
      fd.close()
  else:
    print("------------------------------------------------")
    print("Sorry, We're out of stock.")
    print("------------------------------------------------")
    sale = '1' + ',' + ui_name + ',' + ui_email + ',' + ui_ph + ',' + ui_pr + ','  +  record[ui_pr]["Name"] + ','+ str(record[ui_pr]["Qn"]) + ',' + str(record[ui_pr]['Price']) + ',' + str(record[ui_pr]["Price"] * 0) + ',' + time.ctime()
    fd = open("Sales.csv", "a")
    fd.write(sale)
    fd.close()

js = json.dumps(record)
fd = open("Records.json", "w")
fd.write(js)
fd.close()
print('')
print("------------------------------------------------")
print(f"Thanks for visiting {ui_name}.")
print("------------------------------------------------")

----------------------MENU----------------------
1001 : 5-Star : 10 : -2
1002 : Bar-One : 20 : 0
1003 : Candy : 2 : 992
1004 : Chocolate Cake : 550 : 8
1005 : Blueberry Cake : 650 : 5
------------------------------------------------
Enter Name      : kalem
Enter email id : lae2@gmail.com
Enter Phone no.   : 541389484
Enter Product ID  : 1001
Enter Quantity    : 1
------------------------------------------------
Sorry, We're out of stock.
------------------------------------------------

------------------------------------------------
Thanks for visiting kalem.
------------------------------------------------

# New Section

In [32]:
record

{'1001': {'Name': '5-Star', 'Price': 10, 'Qn': -2},
 '1002': {'Name': 'Bar-One', 'Price': 20, 'Qn': 0},
 '1003': {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 '1004': {'Name': 'Chocolate Cake', 'Price': 550, 'Qn': 8},
 '1005': {'Name': 'Blueberry Cake', 'Price': 650, 'Qn': 5}}